{
  "checks": {
    "jira-status-page-check": {
      "type": "metric",
      "command": "check-http-json.rb -k -u https://localhost/status -K state -v RUNNING",
      "subscribers": [
        "jira"
      ],
      "interval": 60
    }
  }
}
