{
  "checks": {
    "interface-metrics": {
      "type": "metric",
      "command": "metrics-interface.rb",
      "subscribers": [
        "production"
      ],
      "interval": 10,
      "handler": "debug"
    }
  }
}
