/ip dns set servers=8.8.8.8,8.8.4.4
/ip address remove [find interface=capsman-general]
/ip address remove [find interface=switch-bridge]
/interface bridge remove [find name=capsman-general]
/interface bridge add name=capsman-general disabled=no
/interface bridge remove [find name=capsman-hamwan]
/interface bridge add name=capsman-hamwan disabled=no
/caps-man manager set enabled=yes
/caps-man channel remove [find]
/caps-man channel add band=2ghz-b/g/n name=CH1 frequency=2412
/caps-man channel add band=2ghz-b/g/n name=CH2 frequency=2417
/caps-man channel add band=2ghz-b/g/n name=CH3 frequency=2422
/caps-man channel add band=2ghz-b/g/n name=CH4 frequency=2427
/caps-man channel add band=2ghz-b/g/n name=CH5 frequency=2432
/caps-man channel add band=2ghz-b/g/n name=CH6 frequency=2437
/caps-man channel add band=2ghz-b/g/n name=CH7 frequency=2442
/caps-man channel add band=2ghz-b/g/n name=CH8 frequency=2447
/caps-man channel add band=2ghz-b/g/n name=CH9 frequency=2452
/caps-man channel add band=2ghz-b/g/n name=CH10 frequency=2457
/caps-man channel add band=2ghz-b/g/n name=CH11 frequency=2462
/caps-man channel add band=2ghz-b/g/n name=CH12 frequency=2467
/caps-man channel add band=2ghz-b/g/n name=CH13 frequency=2472
/caps-man configuration remove [find]
/caps-man configuration add name=fieldday-wifi-1 channel=CH1 ssid="WiFi by HamWAN" datapath.bridge=capsman-general
/caps-man configuration add name=fieldday-wifi-5 channel=CH6 ssid="WiFi by HamWAN" datapath.bridge=capsman-general
/caps-man configuration add name=fieldday-wifi-11 channel=CH11 ssid="WiFi by HamWAN" datapath.bridge=capsman-general
/caps-man configuration add name=fieldday-hamwan-11 ssid="HamWAN" datapath.bridge=capsman-hamwan security.authentication-types=wpa2-psk security.passphrase=wififorhams
/caps-man provisioning remove [find]
/caps-man provisioning add action=create-dynamic-enabled master-configuration=fieldday-wifi-1 slave-configuration=fieldday-hamwan


/ip address remove [find interface=capsman-general]
/ip address add address=10.10.10.1/24 interface=capsman-general
/ip dhcp-server lease remove [find server=dhcp-capsman-general]
/ip dhcp-server remove [find name=dhcp-capsman-general]
/ip pool remove [find name=pool-capsman-general]
/ip pool add name=pool-capsman-general ranges=10.10.10.2-10.10.10.254
/ip dhcp-server add address-pool=pool-capsman-general disabled=no interface=capsman-general lease-time=1h name=dhcp-capsman-general
/ip dhcp-server network remove [find]
/ip dhcp-server network add address=10.10.10.0/24 dns-server=8.8.8.8,8.8.4.4 domain=memhamwan.org gateway=10.10.10.1 netmask=24 ntp-server=44.34.132.5 comment=dhcp-capsman-general
/ip firewall nat remove [find comment=nat-capsman-general]
/ip firewall nat add chain=srcnat src-address=10.10.10.0/24 action=masquerade comment=nat-capsman-general

/ip address remove [find interface=capsman-hamwan]
/ip address add address=10.10.20.1/24 interface=capsman-hamwan
/ip dhcp-server lease remove [find server=dhcp-capsman-hamwan]
/ip dhcp-server remove [find name=dhcp-capsman-hamwan]
/ip pool remove [find name=pool-capsman-hamwan]
/ip pool add name=pool-capsman-hamwan ranges=10.10.20.2-10.10.20.254
/ip dhcp-server add address-pool=pool-capsman-hamwan disabled=no interface=capsman-hamwan lease-time=1h name=dhcp-capsman-hamwan
/ip dhcp-server network remove [find comment=dhcp-capsman-hamwan]
/ip dhcp-server network add address=10.10.20.0/24 dns-server=8.8.8.8,8.8.4.4 domain=memhamwan.org gateway=10.10.20.1 netmask=24 ntp-server=44.34.132.5 comment=dhcp-capsman-hamwan
/ip firewall nat remove [find comment=nat-capsman-hamwan]
/ip firewall nat add chain=srcnat src-address=10.10.20.0/24 action=masquerade comment=nat-capsman-hamwan

/ip address remove [find interface=switch-bridge]
/ip address add address=10.10.0.1/24 interface=switch-bridge
/ip dhcp-server lease remove [find server=dhcp-switch-bridge]
/ip dhcp-server remove [find name=dhcp-switch-bridge]
/ip pool remove [find name=pool-switch-bridge]
/ip pool add name=pool-switch-bridge ranges=10.10.0.2-10.10.0.254
/ip dhcp-server add address-pool=pool-switch-bridge disabled=no interface=switch-bridge lease-time=1h name=dhcp-switch-bridge
/ip dhcp-server network remove [find comment=dhcp-switch-bridge]
/ip dhcp-server network add address=10.10.0.0/24 dns-server=8.8.8.8,8.8.4.4 domain=memhamwan.org gateway=10.10.0.1 netmask=24 ntp-server=44.34.132.5 comment=dhcp-switch-bridge

/ip firewall nat remove [find comment=nat-switch-bridge]
/ip firewall nat add chain=srcnat src-address=10.10.0.0/24 action=masquerade comment="nat-switch-bridge"
/tool romon set enabled=yes secrets={{ romon_secret }}
/tool bandwidth-server set authenticate=no enabled=yes


/ip hotspot remove [find name=capsman-general]
/ip hotspot add interface=capsman-general name=capsman-general address-pool=pool-capsman-general disabled=no
/ip hotspot profile set [ find default=yes ] rate-limit=1m/1m
/ip hotspot user remove [find name=hamwan]
/ip hotspot user add name=hamwan password=hamwan


/routing ospf interface remove [find]
/routing ospf interface add authentication=md5 authentication-key={{ ospf_password }} interface=switch-bridge network-type=broadcast
/routing ospf network remove [find]
/routing ospf network add area=backbone network=10.10.0.0/24

/queue simple remove [find]
/queue simple add max-limit=512k/512k name=capsman-hamwan target=capsman-hamwan
/queue simple add max-limit=512k/512k name=capsman-hamwan target=capsman-general
