{% set site = inventory_hostname.split(".")[1] %}
{% set router = inventory_hostname.split(".")[0].replace("r", "", 1) %}
{% set wlan1_ip = lookup('dig', 'wlan1.' + inventory_hostname + './A', wantlist=True)[0] %}
{% set ether1_ip = lookup('dig', 'ether1.' + inventory_hostname + './A', wantlist=True)[0] %}
{% set vrrp1_ip = lookup('dig', 'vrrp.' + site + '.' + LOCALE_DOMAIN + './A', wantlist=True)[0] %}
{% set ether1_ip_network = [ether1_ip, '/28'] | join("") | ipaddr('network') %}
{% set router_type = routerboard_details['stdout_lines'][1].split()[-1] %}
{% if router_type == "2011UiAS" %}
/interface ethernet set [ find default-name=ether7 ] master-port=ether6
/interface ethernet set [ find default-name=ether8 ] master-port=ether6
/interface ethernet set [ find default-name=ether9 ] master-port=ether6
/interface ethernet set [ find default-name=ether10 ] master-port=ether6
/interface ethernet set [ find default-name=ether2 ] master-port=ether1
/interface ethernet set [ find default-name=ether3 ] master-port=ether1
/interface ethernet set [ find default-name=ether4 ] master-port=ether1
/interface ethernet set [ find default-name=ether5 ] master-port=ether1
{% if ignore_ospf_and_ip_address == false %}
/interface bridge remove [find]
/interface bridge add auto-mac=yes mtu=1500 name=bridge-local
/interface bridge port remove [find]
/interface bridge port add bridge=bridge-local interface=ether6-master-local
/interface bridge port add bridge=bridge-local interface=ether1-gateway
{% endif %}
/ip firewall filter remove [find]
/ip firewall filter add chain=forward action=fasttrack-connection connection-state=established,related
{% endif %}

/ip firewall mangle remove [find]

/system identity set name=r{{ router }}.{{ site }}
/interface vrrp remove [find name=vrrp1]
/interface vrrp add authentication=ah interface=ether1 name=vrrp1 password={{ vrrp_password }} version=2
{% if ignore_ospf_and_ip_address == false %}
/ip address add address={{ ether1_ip }}/28 interface=ether1
/ip address add address={{ vrrp1_ip }} interface=vrrp1
{% endif %}

/ip firewall mangle add action=change-mss chain=output new-mss=1378 protocol=tcp tcp-flags=syn tcp-mss=!0-1378
/ip firewall mangle add action=change-mss chain=forward new-mss=1378 protocol=tcp tcp-flags=syn tcp-mss=!0-1378

/routing filter remove [find]
/routing filter add action=accept chain=AMPR-default prefix=44.0.0.0/8 prefix-length=8-32
/routing filter add action=accept chain=AMPR-default prefix=0.0.0.0/0
/routing filter add action=reject chain=AMPR-default
{% if ignore_ospf_and_ip_address == false %}
/routing ospf interface remove [find]
/routing ospf interface add authentication=md5 authentication-key={{ ospf_password }} interface=ether1 network-type=broadcast
/routing ospf network remove [find]
/routing ospf network add area=backbone network={{ ether1_ip_network }}/28
/routing ospf instance set [ find default=yes ] distribute-default=if-installed-as-type-1 in-filter=AMPR-default out-filter=AMPR-default redistribute-connected=as-type-1 redistribute-other-ospf=as-type-1 redistribute-static=as-type-1 router-id={{ ether1_ip }}
{% endif %}
