/interface ethernet set [ find default-name=ether2 ] master-port=ether1
/interface ethernet set [ find default-name=ether3 ] master-port=ether1
/interface ethernet set [ find default-name=ether4 ] master-port=ether1

/interface bridge port remove [find bridge=switch-bridge]
/interface bridge remove [find name=switch-bridge]
/interface bridge add name="switch-bridge" disabled=no
/interface bridge port add interface=ether1 bridge="switch-bridge"

/ip dhcp-client remove [find]
/ip dhcp-client add interface=ether8 disabled=no
