/tool fetch url=http://download2.mikrotik.com/routeros/{{ latest_routeros_version.content.split(' ')[0] | trim }}/routeros-mipsbe-{{ latest_routeros_version.content.split(' ')[0] | trim }}.npk
/system reboot
