{% set host_ip = lookup('dig', inventory_hostname, wantlist=True)[0] %}
    interface: {{ SERVER_DNS_PRIMARY }}
    interface: {{ SERVER_DNS_SECONDARY }}
{% if ipv6_support %}
    do-ip6: yes
    interface: {{ SERVER_DNS_IPv6_PRIMARY }}
    interface: {{ SERVER_DNS_IPv6_SECONDARY }}
    access-control: {{ IPV6_SUBNET }}
{% endif %}
    access-control: {{ LOCALE_SUBNET }} allow
    outgoing-interface: {{ host_ip }}
    rrset-roundrobin: yes
