#!/bin/bash
/usr/bin/screen -S shinysdr -X kill
/usr/bin/screen -dmS shinysdr sh -c "echo $(( 1024 * 1024 * 1024 )) > /proc/sys/kernel/shmmax; cd /usr/local/src/shinysdr; /usr/bin/python -m shinysdr.main config; exec /bin/bash"
