{% set host_ip = lookup('dig', inventory_hostname, wantlist=True)[0] %}
{% set host_ip_network = [host_ip, "/", host_cidr] | join("") | ipaddr('network') %}
password {{ ospf_password }}
enable password {{ ospf_password }}
log file /var/log/quagga/ospfd.conf

interface eth0
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 {{ ospf_password }}
 ip ospf priority 10

router ospf
 ospf router-id {{ host_ip }}
 redistribute connected
 network {{ host_ip_network }}/{{ host_cidr }} area 0.0.0.0
 network {{ anycast_ipv4_host_and_cidr}} area 0.0.0.0
 area 0 authentication message-digest
