{
  "checks": {
    "disk_capacity_metric": {
      "type": "metric",
      "command": "metrics-disk-capacity.rb",
      "subscribers": [
        "production"
      ],
      "interval": 60
    },
    "disk_metric": {
      "type": "metric",
      "command": "metrics-disk.rb",
      "subscribers": [
        "production"
      ],
      "interval": 60
    }
  }
}
