{
  "checks": {
{% for item in groups.mikrotik %}
    "snmp_bulk_metric_{{ item|replace(".", "-") }}": {
      "type": "metric",
      "source": "{{ item }}",
      "command": "metrics-snmp-bulk.rb -h {{item}} -C hamwan -m 50 -O 1.3.6.1.2.1.31.1.1.1.6,1.3.6.1.2.1.31.1.1.1.10,1.3.6.1.4.1.14988.1.1.1.3,1.3.6.1.4.1.14988.1.1.1.2.1,1.3.6.1.4.1.14988.1.1.3",
      "subscribers": [
        "snmp-checker"
      ],
      "interval": 120
    },
    "ping_check_{{ item|replace(".", "-") }}": {
      "source": "{{ item }}",
      "command": "check-ping.rb -c 2 -h {{item}} -r",
      "subscribers": [
        "snmp-checker"
      ],
      "interval": 60,
      "occurrences": 2,
      "refresh": 60
    },
    "under_voltage_check_{{ item|replace(".", "-") }}": {
      "source": "{{ item }}",
      "command": "check-snmp.rb -h {{item}} -C hamwan -O 1.3.6.1.4.1.14988.1.1.3.8.0 -o le -w 200 -c 120",
      "subscribers": [
        "snmp-checker"
      ],
      "interval": 60,
      "occurrences": 2,
      "refresh": 60
    },
    "over_voltage_check_{{ item|replace(".", "-") }}": {
      "source": "{{ item }}",
      "command": "check-snmp.rb -h {{item}} -C hamwan -O 1.3.6.1.4.1.14988.1.1.3.8.0 -o ge -w 260 -c 280",
      "subscribers": [
        "snmp-checker"
      ],
      "interval": 60,
      "occurrences": 2,
      "refresh": 60
    }{% if not loop.last %},{% endif %}

{% endfor %}
  }
}
