notification_config {
  name: "alertmanager_test"
  email_config {
    email: "{{ NETOPS_EMAIL }}"
  }
}
aggregation_rule {
  filter {
    name_re: "service"
    value_re: "test"
  }
  repeat_rate_seconds: 3600
  notification_config_name: "alertmanager_test"
}

