server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name _;
        location / {
            proxy_pass  http://localhost:9090/;
            proxy_set_header    X-Host       $host;
	    auth_basic "Restricted";
	    auth_basic_user_file /etc/nginx/.htpasswd;
        }
        location /alert/ {
            proxy_pass http://localhost:9093/;
            proxy_set_header    X-Host       $host;
            auth_basic "Restricted";
            auth_basic_user_file /etc/nginx/.htpasswd;
        }
        location /grafana {
             proxy_pass         http://localhost:3000;
             rewrite  ^/grafana/(.*)  /$1 break;
             proxy_set_header   Host $host;
             proxy_set_header Authorization "";
        }
}
