community: hamwan
walk:
# - 1.3.6.1.2.1.2
# - 1.3.6.1.4.1.14988.1.1.1.3.1
 - 1.3.6.1.4.1.14988
# -  ObjectType(ObjectIdentity('1.3.6.1.4.1.14988.1.1.1.3.1.7.2')))
metrics:
# - name: actual-mtu
#   oid: 1.3.6.1.2.1.2.2.1.4
 - name: mtxrWlApFreq
   oid: 1.3.6.1.4.1.14988.1.1.1.3.1.7
   indexes:
    - labelname: mtxrWlApSsid
      type: Integer32
    - labelname: mtxrWlApBssid
      type: Integer32
    - labelname: mtxrWlApBand
      type: Integer32
   lookups:
    - labels: [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApSsid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.4
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBssid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.5
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBand
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.8
 - name: mtxrWlApClientCount
   oid: 1.3.6.1.4.1.14988.1.1.1.3.1.6
   indexes:
    - labelname: mtxrWlApSsid
      type: Integer32
    - labelname: mtxrWlApBssid
      type: Integer32
    - labelname: mtxrWlApBand
      type: Integer32
   lookups:
    - labels: [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApSsid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.4
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBssid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.5
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBand
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.8
 - name: mtxrWlApTxRate
   oid: 1.3.6.1.4.1.14988.1.1.1.3.1.2
   indexes:
    - labelname: mtxrWlApSsid
      type: Integer32
    - labelname: mtxrWlApBssid
      type: Integer32
    - labelname: mtxrWlApBand
      type: Integer32
   lookups:
    - labels: [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApSsid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.4
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBssid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.5
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBand
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.8
 - name: mtxrWlApRxRate
   oid: 1.3.6.1.4.1.14988.1.1.1.3.1.3
   indexes:
    - labelname: mtxrWlApSsid
      type: Integer32
    - labelname: mtxrWlApBssid
      type: Integer32
    - labelname: mtxrWlApBand
      type: Integer32
   lookups:
    - labels: [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApSsid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.4
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBssid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.5
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBand
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.8
 - name: mtxrWlApNoiseFloor
   oid: 1.3.6.1.4.1.14988.1.1.1.3.1.9
   indexes:
    - labelname: mtxrWlApSsid
      type: Integer32
    - labelname: mtxrWlApBssid
      type: Integer32
    - labelname: mtxrWlApBand
      type: Integer32
   lookups:
    - labels: [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApSsid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.4
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBssid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.5
    - labels:  [mtxrWlApSsid, mtxrWlApBssid, mtxrWlApBand]
      labelname: mtxrWlApBand
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.8
 - name: mtxrWlApOverallTxCCQ
   oid: 1.3.6.1.4.1.14988.1.1.1.3.1.10
   indexes:
    - labelname: mtxrWlApSsid
      type: Integer32
   lookups:
    - labels: [mtxrWlApSsid]
      labelname: mtxrWlApSsid
      oid: 1.3.6.1.4.1.14988.1.1.1.3.1.4
 - name: mtxrHlVoltage
   oid: 1.3.6.1.4.1.14988.1.1.3.8
 - name: mtxrHlTemperature
   oid: 1.3.6.1.4.1.14988.1.1.3.10
 - name: mtxrHlProcessorTemperature
   oid: 1.3.6.1.4.1.14988.1.1.3.11
 - name: mtxrWlRtabStrength
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.3
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrWlRtabTxBytes
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.4
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrWlRtabRxBytes
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.5
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrWlRtabTxPackets
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.6
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrWlRtabRxPackets
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.7
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrWlRtabTxRate
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.8
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrWlRtabRxRate
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.9
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrWlRtabUptime
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.11
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrWlRtabSignalToNoise
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.12
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: tx-signal-strength-ch0
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.13
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: signal-strength-ch0
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.14
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: tx-signal-strength-ch1
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.15
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: signal-strength-ch1
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.16
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: tx-signal-strength-ch2
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.17
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: signal-strength-ch2
   oid: 1.3.6.1.4.1.14988.1.1.1.2.1.18
   indexes:
    - labelname: mtxrWlRtabAddr
      type: PhysAddress48
   lookups:
    - labels: [mtxrWlRtabAddr]
      labelname: mtxrWlRtabAddr
      oid: 1.3.6.1.4.1.14988.1.1.1.2.1.1
 - name: mtxrNeighborIfIndex
   oid: 1.3.6.1.4.1.14988.1.1.11.1.1.8
   indexes:
    - labelname: mtxrNeighborVersion
      type: Integer32
    - labelname: mtxrNeighborPlatform
      type: Integer32
    - labelname: mtxrNeighborIdentity
      type: Integer32
    - labelname: mtxrNeighborSoftwareID
      type: Integer32
   lookups:
    - labels: [mtxrNeighborVersion, mtxrNeighborPlatform, mtxrNeighborIdentity, mtxrNeighborSoftwareID]
      labelname: mtxrNeighborVersion
      oid: 1.3.6.1.4.1.14988.1.1.11.1.1.4
    - labels: [mtxrNeighborVersion, mtxrNeighborPlatform, mtxrNeighborIdentity, mtxrNeighborSoftwareID]
      labelname: mtxrNeighborPlatform
      oid: 1.3.6.1.4.1.14988.1.1.11.1.1.5
    - labels: [mtxrNeighborVersion, mtxrNeighborPlatform, mtxrNeighborIdentity, mtxrNeighborSoftwareID]
      labelname: mtxrNeighborIdentity
      oid: 1.3.6.1.4.1.14988.1.1.11.1.1.6
    - labels: [mtxrNeighborVersion, mtxrNeighborPlatform, mtxrNeighborIdentity, mtxrNeighborSoftwareID]
      labelname: mtxrNeighborSoftwareID
      oid: 1.3.6.1.4.1.14988.1.1.11.1.1.7
 - name: mtxrInterfaceStatsIndex
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.1
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsDriverRxBytes
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.11
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsDriverRxPackets
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.12
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsDriverTxBytes
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.13
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsDriverTxPackets
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.14
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxRx64
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.15
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxRx65To127
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.16
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxRx128To255
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.17
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxRx256To511
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.18
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxRx512To1023
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.19
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxRx1024To1518
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.20
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxRx1519ToMax
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.21
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxBytes
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.31
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxPackets
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.32
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxTooShort
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.33
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRx64
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.34
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRx65To127
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.35
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRx128To255
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.36
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRx256To511
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.37
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRx512To1023
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.38
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRx1024To1518
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.39
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRx1519ToMax
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.40
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxTooLong
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.41
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxBroadcast
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.42
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxPause
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.43
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxMulticast
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.44
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxFCSError
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.45
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxAlignError
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.46
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxFragment
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.47
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxOverflow
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.48
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxControl
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.49
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxUnknownOp
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.50
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxLengthError
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.51
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxCodeError
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.52
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxCarrierError
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.53
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxJabber
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.54
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsRxDrop
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.55
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxBytes
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.61
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxPackets
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.62
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxTooShort
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.63
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTx64
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.64
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTx65To127
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.65
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTx128To255
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.66
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTx256To511
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.67
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTx512To1023
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.68
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTx1024To1518
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.69
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTx1519ToMax
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.70
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxTooLong
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.71
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxBroadcast
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.72
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxPause
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.73
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxMulticast
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.74
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxUnderrun
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.75
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxCollision
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.76
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxExcessiveCollision
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.77
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxMultipleCollision
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.78
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxSingleCollision
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.79
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxExcessiveDeferred
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.80
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxDeferred
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.81
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxLateCollision
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.82
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxPauseHonored
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.84
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxDrop
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.85
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxJabber
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.86
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxFCSError
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.87
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxControl
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.88
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
 - name: mtxrInterfaceStatsTxFragment
   oid: 1.3.6.1.4.1.14988.1.1.14.1.1.89
   indexes:
    - labelname: mtxrInterfaceStatsIfName
      type: Integer32
   lookups:
    - labels: [mtxrInterfaceStatsIfName]
      labelname: mtxrInterfaceStatsIfName
      oid: 1.3.6.1.4.1.14988.1.1.14.1.1.2
