{% for netadmin in NETOPS_USERS %}
/user remove [find name={{ netadmin }}]
/user add group=full name={{ netadmin }} password={{ 999999999999999 |random }}
/user ssh-keys import public-key-file={{ netadmin }}.key user={{ netadmin }}
{% endfor %}
/user remove [find name=hamwan]
/user add group=full name=hamwan password={{ router_user_text_password }}
/user remove [find name=admin]
/system logging remove [find default=no]
/system logging action remove [find default=no]
/system logging action add bsd-syslog=yes name=centrallogging remote=44.34.128.171 target=remote syslog-facility=syslog
/system logging add action=centrallogging topics=error,warning,critical
/snmp set enabled=yes contact="#HamWAN on irc.freenode.org"
/snmp community set name=hamwan addresses={{ SERVER_SNMP }} read-access=yes write-access=no numbers=0
/ip dns set servers={{ SERVER_DNS_PRIMARY }},{{ SERVER_DNS_SECONDARY }}
/system ntp client set enabled=yes primary-ntp={{ SERVER_NTP_PRIMARY }} secondary-ntp={{ SERVER_NTP_SECONDARY }}
/ip firewall filter remove [find dynamic=no]
/ip firewall nat remove [find dynamic=no]
/ip firewall mangle remove [find dynamic=no]
/ip dhcp-server remove [find]
/ip dhcp-server network remove [find]
/ip service disable [find name=ftp]
/ip dns set allow-remote-requests=no
/tool romon set enabled=yes secrets={{ romon_secret }}
